<div class="row">
  <div class="col-md-3">
    <ul>
      <li>Explore</li>
      <li>About</li>
      <li>Funding</li>
      <li>Marketplace</li>
      <li>Investing</li>
      <li>Generosity</li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul>
      <li>Explore</li>
      <li>About</li>
      <li>Funding</li>
      <li>Marketplace</li>
      <li>Investing</li>
      <li>Generosity</li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul>
      <li>Explore</li>
      <li>About</li>
      <li>Funding</li>
      <li>Marketplace</li>
      <li>Investing</li>
      <li>Generosity</li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul>
      <li>Explore</li>
      <li>About</li>
      <li>Funding</li>
      <li>Marketplace</li>
      <li>Investing</li>
      <li>Generosity</li>
    </ul>
  </div>

</div>
