<h4>Edit {{campaignToEdit.total}}</h4>

<label>New Campaign Title:</label>
<input [(ngModel)]="campaignToEdit.title">
<br>

<label>New Campaign Total:</label>
<input [(ngModel)]="campaignToEdit.total">
<br>

<label>New Campaign Image:</label>
<input [(ngModel)]="campaignToEdit.image">
<br>

<label>New Campaign Location:</label>
<input [(ngModel)]="campaignToEdit.location">
<br>

<label>New Campaign Category:</label>
<input [(ngModel)]="campaignToEdit.category">
<br>

<label>New Campaign Tags:</label>
<input [(ngModel)]="campaignToEdit.tags">
<br>

<label>New Campaign Story:</label>
<input [(ngModel)]="campaignToEdit.story">
<br>

<label>New Campaign Perks:</label>
<input [(ngModel)]="campaignToEdit.perks">
<br>

<button (click)="beginUpdatingCampaign(campaignToEdit)">Update</button>
<hr>
<button (click)="beginDeletingCampaign(campaignToEdit)">Delete</button>
