.campaign-card {
  /*margin-left: 50%;*/
  background-color: #afafaf;
}

.content-grid {
  height:100%;
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 1em;
  grid-column-gap: .5em;
}

.wrapper {
  margin-left: 4em;
  margin-right: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.front-page-img {
  height: 30vh;
  max-width: 90%;
}
