/* You can add global styles to this file, and also import other style files */
.carousel-size {
  height: 33vh;
  width:  auto;
  background-color: #999;
}

.carousel-img-size {


}

.carousel-img {
  height: 33vh;
}
