<div><a (click)="clickToEdit()">

  <h3>{{campaignToDisplay?.title}}</h3>
  <h4>{{campaignToDisplay?.total}}</h4>

  <h5 *ngIf="campaignToDisplay?.tagline">{{campaignToDisplay?.tagline}}</h5>

  <h5 *ngIf="campaignToDisplay?.story">{{campaignToDisplay?.story}}</h5>

  <h5 *ngIf="campaignToDisplay?.image">{{campaignToDisplay?.image}}</h5>

  <h5 *ngIf="campaignToDisplay?.category">{{campaignToDisplay?.category}}</h5>

  <h5 *ngIf="campaignToDisplay?.location">{{campaignToDisplay?.location}}</h5>

  <h5 *ngIf="campaignToDisplay?.tags">{{campaignToDisplay?.tags}}</h5>

  <h5 *ngIf="campaignToDisplay?.perks">{{campaignToDisplay?.perks}}</h5>
</a></div>
